<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/fixtures</exclude>
		</testsuite>
	</testsuites>
	
	<!-- Environment variables -->
	<php>
		<env name="WP_TESTS_DIR" value="./wordpress-develop/tests/phpunit" />
		<env name="WP_TESTS_CONFIG_FILE_PATH" value="./wp-tests-config.php" />
		<env name="WP_TESTS_MULTISITE" value="0" />
		<env name="WP_TESTS_DOMAIN" value="localhost" />
		<env name="WP_TESTS_EMAIL" value="admin@localhost.test" />
		<env name="WP_TESTS_TITLE" value="Dev-Tools Test Site" />
	</php>
</phpunit>
